.Main {}

.Main nav {
    background-color: white;
    box-shadow: black 0vw 0.5vw 0.5vw;
    height: 7vh;
    display: flex;
    grid-column: auto auto;
}

.Main nav div {
    width: 100%;
    border: 1px solid red;
}

.Main nav div li {}

.Main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
    filter: drop-shadow(black 0.1vw 0.5vw 0.4vw);
    background: linear-gradient(90deg, rgb(142, 247, 255), rgb(244, 255, 142));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.MainLi1 {
    display: flex;
}

.MainLi2 {
    border: 1px solid red;
    display: flex;
    float: right;    
}

.MainLi2 ul{
    
}