.Main {
    min-height: 62.5vh;
}

.div1 {
    height: 63vh;
    background: url('https://images.pexels.com/photos/9455270/pexels-photo-9455270.jpeg');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position-y: 52%;
    margin: 0;
    padding: 0;
}

.Main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
    filter: drop-shadow(black 0.1vw 0.5vw 0.4vw);
    background: linear-gradient(90deg, rgb(240, 255, 251), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0;
    margin-top: 3vh;
}

.hero-image {
    background-color: transparent;
    position: relative;
    top: 52vh;
    transform: rotate(0.5turn);
    width: 100vw;
    height: 23vh;
    margin: 0;
    padding: 0;
}

.MainLi1 {
    display: flex;
}

.MainLi2 {
    display: flex;
    float: right;

}

.MainLi2 ul {
    margin-right: 1.5vw;
}