.Main {
    min-height: 50vh;
    background-color: red;
}

.imgPerr {
    height: 80vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.div1 {
    height: 6vh;
    margin: 0;
    padding: 0;
}

.Main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
    filter: drop-shadow(black 0.1vw 0.5vw 0.4vw);
    background: linear-gradient(90deg, rgb(240, 255, 251), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-image {
    background-color: transparent;
    width: 100vw;
    height: 23vh;
    position: relative;
    transform: rotate(0.5turn);
    bottom: 23vh;
    margin: 0;
    padding: 0;
}

.MainLi1 {
    display: flex;
}

.MainLi2 {
    display: flex;
    float: right;

}

.MainLi2 ul {
    margin-right: 1.5vw;
}