.Main {
    min-height: 50vh;
    background-color: red;
}

.imgPerr {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.div1 {
    height: 6vh;
    margin: 0;
    padding: 0;
}

.Main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
    filter: drop-shadow(black 0.1vw 0.5vw 0.4vw);
    background: linear-gradient(90deg, rgb(240, 255, 251), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Mainfigura {
    background-color: white;
    width: 100vw;
    height: 23%;
    position: relative !important;
    transform: rotate(0.5turn);
    bottom: 0vh;
    margin: 0;
    padding: 0;
}



.MainLi2 ul {
    margin-right: 1.5vw;
}